**/build
**/target

openvino-mobilenet-image/mobilenet.bin
openvino-mobilenet-image/mobilenet.xml

openvino-mobilenet-raw/mobilenet.bin
openvino-mobilenet-raw/mobilenet.xml
openvino-mobilenet-raw/tensor-1x224x224x3-f32.bgr



tf-mobilenet-image/PurpleGallinule.jpg
.DS_Store
Cargo.lock
