name: OpenVINO Road Segmentation ADAS Example

on:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches: [master]
    paths:
      - ".github/workflows/build_openvino_road_seg_adas.yml"
      - "openvino-road-segmentation-adas/**"
      - "scripts/install_openvino.sh"
  pull_request:
    branches: [master]
    paths:
      - ".github/workflows/build_openvino_road_seg_adas.yml"
      - "openvino-road-segmentation-adas/**"
      - "scripts/install_openvino.sh"

env:
  CARGO_TERM_COLOR: always

jobs:
  build_openvino_examples:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust: [1.84]
    container:
      image: wasmedge/wasmedge:ubuntu-build-clang
    steps:
      - name: Checkout Wasi-NN examples
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install Rust-stable
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.rust }}
          target: wasm32-wasip1

      - name: Install dependencies
        run: |
          apt update
          apt install -y libtbbmalloc2

      - name: Install OpenVINO
        working-directory: scripts
        run: |
          bash install_openvino.sh

      - name: Install WasmEdge with Wasi-NN OpenVINO plugin
        env:
          CMAKE_BUILD_TYPE: "Release"
          VERSION: "0.13.4"
        run: |
          curl -sSf https://raw.githubusercontent.com/WasmEdge/WasmEdge/master/utils/install.sh | bash -s -- -v $VERSION -p /usr/local --plugins wasi_nn-openvino

      - name: Build and run openvino-road-segmentation-adas
        working-directory: openvino-road-segmentation-adas
        run: |
          cd openvino-road-seg-adas
          cargo build --target=wasm32-wasip1 --release
          cp target/wasm32-wasip1/release/openvino-road-seg-adas.wasm ..
          cd ..
          wasmedge --dir .:. openvino-road-seg-adas.wasm ./model/road-segmentation-adas-0001.xml ./model/road-segmentation-adas-0001.bin ./image/empty_road_mapillary.jpg
